<h1>This is my show for a plane</h1>

<h2><%= @plane.plane_name %></h2>
<p><%= @plane.plane_type %></p>
<p><%= @plane.location %></p>
<p><%= @plane.capacity %></p>
<p><%= @plane.price %></p>
<p><%= @plane.available %></p>

<p><%= link_to "All planes", planes_path %> </p>
